h1 {
    font-weight: normal;
  }
  
@font-face {
font-family: 'Hanson';
src: url(/assets/fonts/Hanson-Bold.ttf);
}
  
.card {
    min-height: 500px;
    padding: 5px 5px;
    margin-bottom: 1.5rem;
    background-color: var(--primary-bg-color) !important;
}

.card-body h2 {
    font-size: 26px;
    margin-top: 2rem;
    color: white;
}

.font-highlight {
    color: #ff3d00 !important;
}

.card-body h4 {
    margin-top: 1rem;
    color: white;
}

.card-body h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
}

.card-body p {
    color: white;
    margin-top: 1rem;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.card img {
    transform: scale(1, 1);
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    height: 250px;
    width: 250px;
    object-fit: cover;
    display: block;
}

.card:hover img {
    height: 250px;
    width: 250px;
    transform: scale(1.1, 1.1);
    transition-duration: 350ms;
    transition-timing-function: ease-out;
    opacity: 0.95;
}

.member-icons {
    position: absolute;
    bottom: -10%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity:0;
}

.card-img-wrapper:hover .member-icons{
    bottom: 0;
    opacity: 1;
}

.animate {
    transition: all 0.3s ease-in-out;
}

.red-button {
    background-color: #ff3d00 !important;
}