.full-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 110px);
    overflow: hidden;
    padding-bottom: 4rem;
  }
  
  .message-container {
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  .message-container h2 {
    font-size: 24px;
    color: white;
}