.background {
    display: grid;
    place-items: center;
    min-height: 80vh;
}

.extra-padding {
    margin-left: 100px;
    margin-right: 100px;
}

.details-container {
    display: flex;
    gap: 250px;
  }
  
.listing-card-container {
    flex: 1;
}

.reviews-container {
    flex: 2;
}