.background {
    display: grid;
    place-items: center;
    margin-top: 150px;
    // min-height: 80vh;
}

.img-detail {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.details-container {
  color: #fff;
}