.full-background {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 200px);
  background-color: var(--primary-bg-color);
}

.card {
  background-color: var(--primary-bg-color);
  color: white;
}

.card-header {
  background-color: var(--primary-bg-color);
}

.card-body {
  background-color: var(--primary-bg-color);
  color: white;
}