.full-background {
    background-color: #171c24; /* Replace with the actual nav bar background color */
    min-height: 100vh; /* Ensure it covers the full viewport height */
    padding-top: 56px; /* Adjust if needed to account for the nav bar height */
  }

  .form-background{
    // color: #171c24;
    // background-color: #171c24;
  }