.best-sellers {
    text-align: center;  
    padding-top: 2.75rem;   
    padding-bottom: 1.5rem;
}

.background {
    background-color:  #171c24 !important;
}

.extra-padding {
    margin-left: 100px;
    margin-right: 100px;
}