.full-background {
  background-color: var(--primary-bg-color);
  min-height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--primary-bg-color);
  color: white;
}

.card-header {
  background-color: var(--primary-bg-color);
}

.card-body {
  background-color: var(--primary-bg-color);
  color: white;
}

.image-container {
  text-align: center;
}

.listing-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.small-image {
  max-width: 450px;
  height: auto;
}

.custom-color {
  color: #ff3d00 !important;
}


.custom-card {
  max-width: 700px;
  width: 100%;
}