<app-nav-bar></app-nav-bar>
<div class="flex flex-col min-h-[91vh]">
  <div class="flex flex-1 justify-center items-center">
    <div *ngIf="user() as user" class="text-center p-8 bg-white rounded-lg shadow-lg">
      <h2 class="text-2xl font-bold mb-5">User Profile</h2>
      <img [src]="user.picture" alt="User Picture" class="w-24 h-24 rounded-full mx-auto object-cover" />
      <p class="text-lg mb-2"><strong>Name:</strong> {{ user.name }}</p>
      <p class="text-lg"><strong>Email:</strong> {{ user.email }}</p>
    </div>
  </div>
  <app-footer></app-footer>
</div>