<footer class="text-white text-sm px-4 py-10 mt-3" style="background-color: var(--primary-tor-background)">
  <div class="max-w-[70%] mx-auto flex flex-col gap-8">
    
    <div class="flex justify-between text-sm border-b border-[#2e2e2e] pb-6">
      
      <div class="space-y-2">
        <h4 class="text-white font-bold text-sm">HELP</h4>
        <p class="text-white">Shipping + Returns</p>
        <p class="text-white">FAQ</p>
      </div>

      <div class="space-y-2 text-center">
        <h4 class="text-white font-bold text-sm">COMPANY</h4>
        <p class="text-white">About us</p>
        <p class="text-white">Contact</p>
      </div>

      <div class="space-y-2 text-right">
        <h4 class="text-white font-bold text-sm">LEGAL</h4>
        <p class="text-white">Terms of use</p>
        <p class="text-white">Privacy policy</p>
      </div>
    </div>

    <div class="flex justify-center">
      <div class="flex items-center gap-2 font-semibold text-white">
        <span class="text-xl">🚚</span>
        <div class="leading-tight">
          <div>Tor Market LLC</div>
          <div class="text-sm font-normal">The future of shopping</div>
        </div>
      </div>
    </div>

  </div>
</footer>
