/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html, body {
    background-color: #171c24;
    height: 100%;
    margin: 0;
    padding: 0;
}

body, app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  --primary-bg-color: #171c24;
  --primary-tor-red: #e9661b;
}