/* You can add global styles to this file, and also import other style files */
html, body {
    background-color: #171c24;
}

:root {
    --primary-bg-color: #171c24;
    --primary-tor-red: #ff3d00;
}