<nav>
  <div class="menu-icon">
    <span class="fas fa-bars"></span>
  </div>
  <div class="logo">
    <a [routerLink]="['/']" style="text-decoration: none; color: inherit;">
      Tor Market
    </a>
  </div>
  <form action="#">
    <input 
      type="search" 
      class="search-data" 
      placeholder="Search" 
      required
    >
    <button type="submit" class="fas fa-search"></button>
  </form>
  <div class="nav-items me-4">
    <li>
      <a [routerLink]="['/sell']">Sell</a>
    </li>
    <li *ngIf="!(isAuthenticated$ | async)">
      <a (click)="handleLogin()">Login</a>
    </li>
    <li *ngIf="!(isAuthenticated$ | async)">
      <a (click)="handleSignUp()">Register</a>
    </li>
    <li *ngIf="isAuthenticated$ | async">
      <a (click)="handleLogout()">Logout</a>
    </li>
  </div>
  <div class="search-icon">
    <span class="fas fa-search"></span>
  </div>   
  <div class="cancel-icon">
    <span class="fas fa-times"></span>
  </div>
</nav>
<div class="container-fluid px-0">
  <div class="row justify-content-center bg-dark text-white py-2">
    <div class="col-auto" *ngFor="let category of categories">
      <a class="category px-3 py-1" [routerLink]="['/', category | lowercase]">
        {{ category }}
      </a>
    </div>
  </div>
</div>