<nav>
  <div class="menu-icon">
    <span class="fas fa-bars"></span>
  </div>
  <div class="logo">
    <a [routerLink]="['/']" style="text-decoration: none; color: inherit;">
      Tor Market
    </a>
  </div>
  <form (submit)="handleSearch(searchInput.value)">
    <input 
      #searchInput
      type="search" 
      class="search-data" 
      placeholder="Search" 
      [(ngModel)]="searchTerm" 
      name="searchTerm"
      required
    >
    <button 
      type="submit" 
      class="btn btn-outline-secondary"
    >
      <i class="bi bi-search"></i>
    </button>
  </form>
  <div class="nav-items me-4">
    <li>
      <a (click)="handleSell()">Sell</a>
    </li>
    <li *ngIf="!(isAuthenticated$ | async)">
      <a (click)="handleLogin()">Login</a>
    </li>
    <li *ngIf="!(isAuthenticated$ | async)">
      <a (click)="handleSignUp()">Register</a>
    </li>
    <li *ngIf="isAuthenticated$ | async" class="nav-item dropdown me-4">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person"></i>
      </a>
      <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="userDropdown">
        <li><a class="dropdown-item" (click)="handleProfileNavigation()">Profile</a></li>
        <li><a class="dropdown-item" (click)="handleLogout()">Logout</a></li>
      </ul>
    </li>
  </div>
  <div class="search-icon">
    <span class="fas fa-search"></span>
  </div>   
  <div class="cancel-icon">
    <span class="fas fa-times"></span>
  </div>
</nav>
<div class="container-fluid px-0">
  <div class="row justify-content-center bg-dark text-white py-2">
    <div class="col-auto" *ngFor="let category of categories">
      <a class="category px-3 py-1" [routerLink]="['/', category.name | lowercase]">
        {{ category.name }}
      </a>
    </div>
  </div>
</div>